.container{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: center;
}
.headline {
  width:100%
}

.welp{
  position: relative;
  margin-top: -135px;
  margin-left: -5px;
  height: 62px;
}

.wall1{
  position: relative;
  margin-top: -135px;
  margin-left: 0px;
  height: 62px;
  width: 34px;
}

.wall2{
  position: relative;
  margin-top: -135px;
  margin-left: -5px;
  height: 62px;
}

.wall3{
  position: relative;
  margin-top: -135px;
  margin-left: -5px;
  height: 62px;
}

#Summary {
  margin-left: -20px
}

#Map{
  height: 350px;
}
.block1{
  display:flex;
  align-items: center;
  height: 330px;
}

.block2{
  display:flex;
  width: 70%;
  justify-content: center;
}

#Reviews{
  width:90%;
  margin-right:50px
}
#Details{
  width:31%;
}
